/* global */
table {}
table .top { vertical-align:top; }
table .middle { vertical-align:middle; }
.gColumnSet {}
.gColumnSet .column { display:table-cell; padding:0 5px 0 0; vertical-align:top; text-align:left; }
.gColumnSet.middle .column { vertical-align:middle; }
.gColumnSet.full { display:table; table-layout:fixed; width:100%; }
/* .icoSFIX { display:inline-block; overflow:hidden; font-size:1px; line-height:0; text-indent:150%; color:transparent; vertical-align:top; background-image:url('../images/sfix_cloud_icon.png'); background-repeat:no-repeat; } */

.gBlankS { margin-top:5px; }
.gBlankM { margin-top:10px; }
.gBlankL { margin-top:20px; }
.gBlankXL { margin-top:30px; }
.gSideS { margin-left:5px; }
.gSideM { margin-left:10px; }
.gSideL { margin-left:20px; }
.gSideXL { margin-left:30px; }
.gSpaceS { margin-right:5px; }
.gSpaceM { margin-right:10px; }
.gSpaceL { margin-right:20px; }
.gSpaceXL { margin-right:30px; }
.gBreakS { margin-bottom:5px; }
.gBreakM { margin-bottom:10px; }
.gBreakL { margin-bottom:20px; }
.gBreakXL { margin-bottom:30px; }

/* gridSet */
  .gridSet { display:-webkit-flex; display:-ms-flex; display:flex; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-items:stretch; -ms-align-items:stretch; align-items:stretch; }
  .gridSet .left { -webkit-flex:auto; -ms-flex:auto; flex:auto; text-align:left; }
  .gridSet .right { -webkit-flex:auto; -ms-flex:auto; flex:auto; text-align:right; }
  .gridSet .grid { -webkit-flex:1; -ms-flex:1; flex:1; min-width:0; }
  .gridSet.gCenter { text-align:center; }
  .gridSet.gRight { text-align:right;  }
  .gridSet.gTop { -webkit-align-items:flex-start; -ms-align-items:flex-start; align-items:flex-start; }
  .gridSet.gBottom { -webkit-align-items:flex-end; -ms-align-items:flex-end; align-items:flex-end; }
  /* 여백 */
    .mBoard + .gridSet { margin:10px 0 12px; }

h1, h2, h3, h4, h5, strong { font-weight:500; }

/* theme */
  .theme1 { background:#fff; }
  .theme2 { background:#f7f7f7; }

/* text */
  .txtNormal { color:#555; }
  .txtEm { color:#3e87e6; }
  .txtWarn { color:#ea0000; }
  .txtGood { color:#00a338; }
  .txtCaution { color:#ec902e; }
  .txtLight { font-size:13px; color:#777; }
  .txtDns { display:inline-block; width:95px; font-size:14px; color:#777; }
  .txtBold { font-weight:700; }
  .txtReq { font-size:13px; }
  /*
  .txtInfo { position:relative; padding-left:7px; font-size:13px; }
  .txtInfo:before { content:'-'; position:absolute; left:0; top:0; height:1px; }
  */
    span.mList.typeInfo,
    p.mList.typeInfo { position:relative; padding-left:7px; font-size:13px; color:#777; }
    span.mList.typeInfo { margin-left:10px; }
    span.mList.typeInfo.txtNormal,
    p.mList.typeInfo.txtNormal { color:#555; }
    span.mList.typeInfo.txtEm,
    p.mList.typeInfo.txtEm { color:#3e87e6; }
    span.mList.typeInfo.txtWarn,
    p.mList.typeInfo.txtWarn { color:#ea0000; }
    span.mList.typeInfo:before,
    p.mList.typeInfo:before { content:'-'; position:absolute; left:0; top:0; height:1px; }
  .mList .link { border-bottom:1px solid #7fb6f4; color:#4178e7; }
  .mList .link:hover { text-decoration:none; }
  .mList li { color:#777; }
  .mList.typeInfo { margin:5px 0 0; }
  .mList.typeInfo li { position:relative; padding-left:7px; font-size:13px; }
  .mList.typeInfo li.txtNormal { color:#555; }
  .mList.typeInfo li.txtEm { color:#3e87e6; }
  .mList.typeInfo li.txtWarn { color:#ea0000; }
  .mList.typeInfo li:before { content:'-'; position:absolute; left:0; top:0; height:1px; }
    .mBoard + .mList,
    .mTotalArea + .mList,
    .mCharge + .mList,
    .tabCont + .mList { margin-top:10px; }
    .mPaginate + .mList { margin-top:20px; }
    .mList + .mForm { margin-top:10px; }
    .mBoard p.mList.typeInfo,
    .mBoard ul.mList.typeInfo { margin-top:5px; }

/* form */
  input[type='text']::-ms-clear { display:none; }
  .fChk, .fRadio { position:absolute; top:0; left:0; z-index:1; width:18px; height:18px; opacity:0; filter:alpha(opacity=0); cursor:pointer; }
  .gLabel,
  .gLabelClear { display:inline-block; position:relative; min-height:18px; padding:0 0 0 18px; line-height:17px; }
  .gLabel .fLabel,
  .gLabelClear .fLabel {display:inline-block; font-size:14px; }

  .gLabelGroup { display:inline-block; position:relative; width:100%; padding-top:18px; cursor:pointer; }
  .gLabelGroup .fRadio,
  .gLabelGroup .fChk { z-index:-1; width:100%; height:100%; }
  .gLabelGroup .fLabel:before { left:50%; margin-left:-9px; }
  .gLabelGroup .fSelect { z-index:1; }

  .mForm { display:inline-block; margin-bottom:15px; }
  .mForm .title { display:inline-block; position:relative; margin:0 5px 0 0px; font-weight:500; font-size:14px; color:#333; }
  .mForm .gLabel { margin:0 26px 0 0; padding:0 0 0 26px; }
  .mForm .gLabelClear { margin:0; padding:0 0 0 26px; }
    .gridSet .mForm { margin:0; }
    .mBoard td .mForm { margin:0; }

  .fLabel:before { content:''; position:absolute; left:0; top:0; background:url('../images/img_form.png') no-repeat 0 0; }
  .fRadio +.fLabel:before { width:18px; height:18px; background-position:0 -50px; }
  .gLabel:not(.disabled) .fRadio:checked +.fLabel:before { background-position:-50px -50px; }
  .gLabelClear:not(.disabled) .fRadio:checked +.fLabel:before { background-position:-50px -50px; }
  .fChk +.fLabel:before { width:18px; height:18px; background-position:0 -100px; }
  .gLabel:not(.disabled) .fChk:checked +.fLabel:before { background-position:-50px -100px; }
  .gLabelClear:not(.disabled) .fChk:checked +.fLabel:before { background-position:-50px -100px; }
  label.gLabel.disabled .fChk + .fLabel:before,
  label.gLabelClear.disabled .fChk + .fLabel:before,
  span.gLabel .fLabel:before { background-position:-100px -100px; }
  span.gLabel .fChk:checked +.fLabel:before { background-position:-50px -100px; }
  .gLabel.disabled .fChk,
  .gLabel.disabled .fRadio,
  .gLabelClear.disabled .fChk,
  .gLabelClear.disabled .fRadio { cursor:default; }
  span.gLabel .fChk,
  span.gLabel .fRadio,
  span.gLabelClear .fChk,
  span.gLabelClear .fRadio { display:none; }

  .fText { width:100%; height:30px; padding:0 9px; border:1px solid #d4d4d4; font-size:14px; line-height:30px; outline:0; box-sizing:border-box; background:#fff; }
  .fText.right { text-align:right; }
  .fText.center { text-align:center; }
  .fText:focus { border-color:#3e87e6; }
  .fText:disabled { border-color:#e5e5e5; color:#b6b6b6; }
  .fTextEdit { display:inline-block; position:relative; }
  .fTextEdit input { width:100%; height:30px; padding:0 9px; border:1px solid #d4d4d4; font-size:14px; line-height:30px; outline:0; box-sizing:border-box; background:#fff; }
  .fTextEdit input.right { text-align:right; }
  .fTextEdit input:focus { padding-right:35px; border-color:#3e87e6; }
  .fTextEdit .btnReset { display:none; position:absolute; right:0; top:2px; }
  .fTextEdit input:focus + .btnReset { display:block; }
  .fTextEdit input:disabled { padding-right:9px; border-color:#e5e5e5; color:#b6b6b6; }
  textarea.fTextarea { width:100%; min-height:100px; padding:4px 9px; border:1px solid #d4d4d4; box-sizing:border-box; resize:none; font-size:14px; }
    .mBoard.gRow td .fTextarea { margin:8px 0 14px; }
  .fTitle { position:relative; padding-top:28px; }
  span.fTitle { display:inline-block; }
  .fTitle .title { position:absolute; left:0; top:0; }

  /* fSelect */
    .fSelect { display:inline-block; position:relative; width:100px; height:30px; padding:0 28px 0 11px; box-sizing:border-box; border:1px solid #d4d4d4; font-size:14px; -webkit-appearance:none; background:#fff url('../images/bg_select.png') no-repeat right 1px; }
    .fSelect.full { width:100% !important; }

  /* mForm */
    ul.mForm { width:100%; margin:0; }
    ul.mForm li { padding-top:10px; }
    ul.mForm li:first-child { padding-top:0; }

/* button */
  [class*='btn'] { display:inline-block; box-sizing:border-box; text-align:center; }
  [class*='btn']:hover { text-decoration:none; }
  [class*='btnNormal'] { padding:0 13px; border:1px solid #98989b; font-weight:300; color:#555; vertical-align:middle; background:#fff; }
  .btnNormalS { height:28px; font-size:13px; line-height:26px; letter-spacing:-0.02em; }
  .btnNormalM { height:32px; font-size:14px; line-height:30px; letter-spacing:-0.04em; }
  .btnNormalL { height:40px; font-size:16px; line-height:38px; }
  .btnNormal.mini { height:22px; font-size:12px; line-height:20px; letter-spacing:-0.02em; }
  [class*='btnNormal'].em { color:#3e87e6; border-color:#3e87e6; }
  [class*='btnNormal'].warn { color:#d93a3a; border-color:#d64848; }
  [class*='btnNormal'].strong { color:#fff; border-color:#3e87e6; background:#3e87e6; }
  .btnNormalS:hover { line-height:24px; }
  .btnNormalM:hover { line-height:28px; }
  .btnNormalL:hover { line-height:36px; }
    .mLayer .footer .btnNormalL { min-width:90px; }
    #popup .footer .btnNormalL { min-width:90px; margin:0 3px; }
  [class*='btnNormal']:hover { border-width:2px; padding:0 12px; }
  .btnNormal.mini:hover { border-width:1px; padding:0 13px; }

  .btnPrev,
  .btnNext { width:30px; height:30px; font-size:14px; line-height:29px; border:1px solid #d4d4d4; border-radius:4px; vertical-align:top; background:#fff; }


/* layout */
  #wrap { height:100%; }
  #header { position:fixed; left:0; right:0; top:0; z-index:20; height:78px; background:#29344a; }
  #header:after { content:''; display:block; clear:both; }
  #header .logo { float:left; margin:10px 0 0 20px; width:50px;}
  #header .append {float:right;color:#fff;margin: 27px 40px 0 0;}
  #header .append .msg {display:inline-block;}
  #header .append .btnLogout {margin-left:10px;border-bottom:1px solid #fff;color:#fff;}
 
  #container { position:relative; min-height:100%; padding:0 0 102px 210px; box-sizing:border-box; background:#fff; }
  * html #container { height:100%; }
  #contents { padding:58px 0 0; }
  #contents .section { padding:25px 20px 30px; background:#fff; }
  #contents .section.dashboard { max-width:1030px; }
  #contents .section.gResult { border-top:1px solid #e4e4e4; background:#f7f7f7; }
  #footer { position:fixed; left:0; bottom:0; z-index:20; width:100%; font-size:12px; padding:10px 0; color:#8c8e92; font-family:"맑은 고딕", dotum, sans-serif; text-align:center; background:#29344a; }
#footer p {font-size:12px;margin:0;}

  #sidebar { position:fixed; left:0; top:0; bottom:0; z-index:10; width:210px; height:100%; padding-top:78px; box-sizing:border-box; background:#425373; }
  .lnb li { position:relative; }
  .lnb li a { display:block; position:relative; padding:0 0 0 10px; letter-spacing:-0.06em;
    -webkit-transition:background .3s ease-out; transition:background .3s ease-out; }
  .lnb li a:hover { text-decoration:none; }
  .lnb > li > a { display:block; height:50px; line-height:50px; color:#fff; background:#425373; }
  .lnb > li:hover > a,
  .lnb > li.selected > a { background:#3e87e6; }

/* mTitle */
  .mTitle { position:relative; margin-bottom:10px; }
  .mTitle.gBorder { margin-bottom:25px; padding-bottom:9px; border-bottom:1px solid #dedede; }
  .mTitle h2 { font-size:26px; color:#333; }
      .mTitle .utility { position:absolute; right:0; bottom:0; }
      #contents .mTitle h2 { display:inline-block; line-height:38px; }
      #contents .section.gResult > .mTitle { margin-bottom:13px; }
      #contents .mTitle h3 { margin:0 8px 0 0; line-height:32px; vertical-align:middle; }
    .mTitle h3 { display:inline-block; font-size:18px; color:#333; }
    .mTitle span.txtLight { margin-left:11px; }
    .mTitle p.txtLight { margin-top:5px; }
    .mTitle h2 .txtLight,
    .mTitle h3 .txtLight { margin-left:0; font-size:inherit; }
    .mTitle > .title { display:inline-block; position:relative; margin:0 0 -2px; padding-left:10px; font-weight:500; font-size:14px; color:#333; }
    .mTitle > .title:before { content:''; position:absolute; left:1px; top:9px; width:3px; height:3px; background:#5c5c5c; }
    .mBoard + .mTitle { margin-top:20px; }
    .mTitle + .mTitle .title { margin-top:8px; }
  /* typeDashboard */
    .mTitle.typeDashboard { margin-top:30px; }

/* mBoard */
  .mBoard tbody th { vertical-align:top; }
  /* typeView */
    .mBoard.typeView {  }
    .mBoard.typeView td.center { text-align:center; }
    .mBoard.typeView td.right { text-align:right; }
    .mBoard.typeView td.left { text-align:left; }
    .mBoard.typeView tbody.left td { text-align:left; }
    .mBoard.typeView tbody.left td.center { text-align:center; }
    .mBoard.typeView tbody.left td.right { text-align:right; }
    .mBoard.typeView tbody.right td { text-align:right; }
    .mBoard.typeView tbody.right td.center { text-align:center; }
    .mBoard.typeView tbody.right td.left { text-align:left; }
    .mBoard.typeView th { height:28px; font-weight:500; color:#333; background:#f7f7f7; }
    .mBoard.typeView thead { border-top:2px solid #767780; }
    .mBoard.typeView thead th { padding:11px 0; }
    .mBoard.typeView tbody { text-align:center; }
    .mBoard.typeView tbody th { padding:10px 20px 0; }
    .mBoard.typeView tbody { border-top:1px solid #dedede; border-bottom:1px solid #dedede; }
    .mBoard.typeView tbody .hover td { background:#f3f3f3; }
    .mBoard.typeView tbody .selected td,
    .mBoard.typeView tbody .selected.hover td { background:#e4f0f7; }
    .mBoard.typeView td { height:28px;padding:6px 5px; font-weight:300; color:#555; }
    .mBoard.typeView td [class*='btnNormal'] { vertical-align:baseline; }
    .mBoard.typeView .icoBar { display:inline-block; overflow:hidden; width:1px; height:12px; margin:0 8px; font-size:1px; line-height:0; color:transparent; text-indent:-150%; background:#ccc; }
  /* gRow */
    .mBoard.gRow { }
    .mBoard.gRow tbody { border-right:1px solid #dedede; text-align:left; }
    .mBoard.gRow tbody th { border:1px solid #dedede; text-align:left; }
    .mBoard.gRow td { padding:6px 20px; border:1px solid #dedede; border-width:1px 0; }
  /* gBorder */
    .mBoard.gBorder th,
    .mBoard.gBorder td { border-left:1px solid #dfdfdf; vertical-align:top; }
    .mBoard.gBorder th:first-child,
    .mBoard.gBorder td:first-child  { border-left:0; }

  /* typeEdit */
    .mBoard.typeEdit { background:#fff; }
    .mBoard.typeEdit.gCell { padding:8px 30px 7px;; border:1px solid #dedede; }
    .mBoard.typeEdit th { padding:9px 0 0; font-weight:300; text-align:left; }
    .mBoard.typeEdit td { padding:7px 0; }

/* mPaginate */
  .mPaginate { height:30px; text-align:center; margin:20px auto 0; font-size:0; line-height:0; }
  .mPaginate .page { display:inline-block; margin:0 14px; }
  .mPaginate .page a { display:inline-block; height:30px; padding:0 8px; margin:0 2px; font-size:14px; line-height:30px; }
  .mPaginate .page a:hover { color:#3e87e6; text-decoration:none; }
  .mPaginate .page .selected,
  .mPaginate .selected { font-weight:500; color:#3e87e6; }


  .dimmed { position:fixed; left:0; top:0; right:0; bottom:0; z-index:80; background:#000; filter:alpha(opacity=60); opacity:0.6; }
  .dimmed.hide { display:none; }

/* mButton */
  .mButton { margin:30px 0 0; }
  .mButton:after { content:''; display:block; clear:both; }
  .mButton { text-align:center; }
  .mButton .left { float:left; }
  .mButton .right { float:right; }

  /* mTab */
  .mTab ul:after { content:''; display:block; clear:both; }
  .mTab a { display:block; }
  .mTab a:hover { text-decoration:none; }
  /* typeTab */
    .mTab.typeTab { position:relative; z-index:1; height:39px; border-bottom:1px solid #c1c1c1; border-left:1px solid #c1c1c1; vertical-align:top; }
    .mTab.typeTab li { float:left; min-width:145px; text-align:center; border-right:1px solid #c1c1c1; background:#fff; }
    .mTab.typeTab li a { height:38px; padding:0 20px; border-top:1px solid #c1c1c1; line-height:38px; background:#f3f3f3; }
    .mTab.typeTab .selected:after { content:'선택됨'; display:block; overflow:hidden; font-size:1px; line-height:0; color:transparent; text-indent:-150%; }
    .mTab.typeTab .selected a { border-top:2px solid #3e87e6; font-weight:500; line-height:36px; color:#3e87e6; background:#fff; }
      .mTab.typeTab + .mUtility { float:right; position:relative; z-index:10; margin-top:-50px; line-height:29px; }
  .tabCont { margin-top:25px; }
  .tabCont.gBox { clear:both; position:relative; margin:0; padding:27px 30px 30px 28px; border:1px solid #c1c1c1; border-top:0; background:#fff; }


  body#login #container { margin:0; padding:0; }
  body#login .mLogin { width:330px; margin:0 auto; padding:122px 0 50px; }
  /* mLogin */
    .mLogin h2 { margin:0 0 15px; text-align:center; font-size:32px; }
    .mLogin h2 .imgLogo { display:block; margin:0 auto 8px; }
    .mLogin .desc { margin:0 0 26px; text-align:center; font-size:16px; }
    .mLogin .form { margin:0 0 12px; }
    .mLogin .fText { width:100%; height:40px; padding:0 14px; border:1px solid #d4d4d4; font-size:16px; }
    .mLogin .fText.id { margin:0 0 10px; }
    .mLogin input::-webkit-input-placeholder { color:#b6b6b6; }
    .mLogin input:-moz-placeholder { color:#b6b6b6; }
    .mLogin input::-moz-placeholder { color:#b6b6b6; }
    .mLogin input:-ms-input-placeholder { color:#b6b6b6; }
    .mLogin .util { margin:0 0 12px; }
    .mLogin .util:after { content:""; display:block; clear:both; }
    .mLogin .util .gLabel { float:left; padding:0 0 0 28px; }
    .mLogin .util .security { float:right; }
    .mLogin .util .status { display:inline-block; width:33px; margin:0 0 0 5px; border:1px solid #3e87e6; border-radius:25px; text-align:center; color:#3e87e6; font-size:12px; font-weight:500; }
    .mLogin .btnLogin { width:100%; height:50px; margin:0 0 16px; line-height:50px; border-radius:5px; color:#fff; font-size:18px; font-weight:500; background-color:#3e87e6; }
    .mLogin .member { padding:20px 0 0; border-top:1px solid #e9e9e9; text-align:center; font-size:0; }
    .mLogin .member li { display:inline-block; font-size:14px; }
    .mLogin .member li:before { content:""; display:inline-block; width:1px; height:13px; margin:-3px 15px 0; vertical-align:middle; background-color:#dcdcdc; }
    .mLogin .member li:first-child:before { display:none; }


/* notice */
  /* mComment */
    .mComment { position:relative; top:-1px; left:0; border-top:1px solid #adadb3; }
    .mComment .comment > li { padding:26px 33px 27px; border-bottom:1px solid #dedede; word-break: break-all; background:#fff; }
    .mComment .comment > li .title { display:inline-block; margin:0 0 7px 0; }
    /* viewContent */
      .mComment .comment .viewContent { padding:40px 30px; }
      .mComment .help { padding:17px 30px; border-bottom:1px solid #dedede; background:#fff; }
      .mComment .comment .answer { padding-left:52px; background:#f7f7f7; }
      .mComment .comment .answer .title { position:relative; }
      .mComment .comment .answer .title:before { content:''; position:absolute; left:-20px; top:5px; width:10px; height:10px; border:1px solid #d3d3d3; border-width:0 0 1px 1px; }
      .mComment .comment .answer .txtDate { color:#b6b6b6; font-size:12px; }
    /* register */
      .comment + .register { position:relative; top:-1px; left:0; border-top:1px solid #adadb3; }
      .register { padding:30px 33px; border-bottom:1px solid #dedede; }
      .register .title { display:inline-block; padding:8px 75px 0 0; vertical-align: top; }
      .register .fTextarea { width:754px; height:80px; min-height: inherit; }
      .btnRegister { width:80px; height:80px; margin:0 0 0 10px; border:1px solid #3e87e6; border-radius:3px; color:#3e87e6; font-size:13px; line-height:80px; font-weight:300; vertical-align: middle; background: #fff;}
      .btnRegister:hover { border-width:2px; line-height:78px; }

  /*  fFile  */
    .fFile { overflow:hidden; position:relative; vertical-align: middle; }
    .fFile label.btnFile { margin:0 10px 0 0; width:82px; height:28px; border:1px solid #98989b; border-radius:3px; line-height:26px; vertical-align:middle; background:#fff; }
    .fFile .name { border:none; font-size:14px; text-indent:8px; vertical-align: middle; }
    .fFile input[type="file"] { position: absolute; top: 0; left:0; width:100%; height:30px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }

/* mAttach */
  .mAttach { margin:10px 0; }
  .mAttach .attach:after { display:block; content:""; clear:both; }
  .mAttach .attach { margin-top:-5px; }
  .mAttach .attach li { float:left; margin:5px 35px 0 0; }
  .mAttach.gridSet .total { margin:0 5px 0 0; }



.list_pf {display:flex;align-items:stretch;flex-wrap:wrap;border:1px solid #e0e0e0;border-width:1px 0 0 1px;box-sizing:border-box;}
.list_pf li {width:33.3%;border:1px solid #e0e0e0;border-width:0 1px 1px 0;box-sizing:border-box;}
.list_pf .link_pf {display:block;padding:0 10px 20px;text-align:center;text-decoration:none;}
.list_pf .img_thumb {width:275px;height:275px;margin:0 auto;}
.list_pf .tit_pf {display:block;margin-bottom:5px;font-size:14px;color:#333;line-height:18px;font-weight:700;}
.list_pf .txt_pf {display:block;font-size:12px;color:#999;line-height:18px;}
.list_pf .info_pf {display:block;font-size:12px;color:#999;line-height:18px;}

.detail_pf {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-align-items:stretch;-ms-align-items:stretch;align-items:stretch;}
.detail_pf .thumbnail {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:606px;box-sizing:border-box;font-size:0;}
.detail_pf .thumbnail .big {width:100%;margin-bottom:6px;}
.detail_pf .detail {-webkit-flex:1;-ms-flex:1;flex:1;padding:40px 20px 20px;margin-left:20px;border:1px solid #eee;}
.detail_pf .detail .inner_detail {}
.detail_pf .detail .label {margin-bottom:2px;font-size:14px;font-weight:500;color:#333;}
.detail_pf .detail .value {margin-bottom:15px;font-size:12px;color:#333;line-height:18px;}

/* 로그인 */
#container.login {padding:78px 0 42px 0;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {background: #f7f7f7 none repeat scroll 0 0;border: 1px solid #d4d4d4;border-radius: 4px;font-size:14px;height: 50px;line-height: 50px;}
.main-div {background: #ffffff none repeat scroll 0 0;border-radius: 2px;margin: 10px auto 30px;max-width: 500px;padding: 50px 70px 70px 71px;}
.login-form .form-group {margin-bottom:10px;}
.login-form{ text-align:center;}
.login-form  .btn.btn-primary {background: #f0ad4e none repeat scroll 0 0;border-color: #f0ad4e;color: #ffffff;font-size: 14px;width: 100%;height: 50px;line-height: 50px;padding: 0;}
