body, html {height:100%;}
#wrap {height:100%;}


#header { max-width:1000px;min-width:812px;margin:0 auto; }
#header h1.logo { display:block;width:160px;margin:0 auto; }
#header .wrap_gnb {position:relative;height:50px;background:#221713;}
#header .wrap_gnb .list_gnb {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;width:462px;margin:0 auto;}
#header .wrap_gnb .list_gnb li {}
#header .wrap_gnb .list_gnb li a {display:block;height:100%;line-height:50px;font-weight:bold;color:#fff;text-decoration:none;}

#header .wrap_gnb  .list_util {position:absolute;top:0;right:0;width:100%;}
#header .wrap_gnb  .list_util a {position:absolute;height:50px;line-height:50px;text-decoration:none;font-size:12px;font-weight:bold;color:#a9a8a6;}
#header .wrap_gnb  .list_util a:before {content:'';position:absolute;left:50%;bottom:100%;margin-bottom:5px;}
#header .wrap_gnb  .list_util .link_contact {left:30px;}
#header .wrap_gnb  .list_util .link_recuit {right:30px;}
#header .wrap_gnb  .list_util .link_contact:before {width:30px;height:40px;margin-left:-15px;background:url(../images/ico_contact.png) no-repeat 0 0;}
#header .wrap_gnb  .list_util .link_recuit:before {width:40px;height:40px;margin-left:-20px;background:url(../images/ico_recruit.png) no-repeat 0 0;}

#container {min-height:100%;margin:-198px auto -150px;padding:198px 0 150px;box-sizing:border-box;}
.main_slide {position:relative;overflow:hidden;min-width:812px;height:440px;margin:40px 0;}
.main_slide .slider {position: absolute;top:0;left:50%;width:2436px;margin-left:-1218px;}
.main_slide .slider .item > a {display:block;position:relative;}
.main_slide .slider .slick-active.slick-current > a:after {content:'';position: absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.3);}


#contents {width:1000px;margin:0 auto 50px;box-sizing:border-box;}
/* main */
.section.work .tit_main {text-align:center;}
.section.other {overflow:hidden;margin:32px 0 0;}
.section.other .tit_main {float:left;display:block;overflow:hidden;width:40px;height:40px;background:url(../images/h2_main.png) no-repeat 0 0;font-size:1px;line-height:0;color:transparent;text-indent:-9999px;}
.section.other .tit_main_news {}
.section.other .tit_main_customer {background-position:-50px 0;}
.section.other .news {position:relative;overflow:hidden;float:left;width:767px;}
.section.other .news .list_news {overflow:hidden;width:628px;padding-left:12px;box-sizing:border-box;}
.section.other .news .list_news li {position:relative;display:-webkit-flex;display:-ms-flex;display:flex;-webkit-justify-content:space-between;-ms-justify-content:space-between;justify-content:space-between;-webkit-align-items:center;-ms-align-items:center;align-items:center;}
.section.other .news .list_news .link_news {display:block;font-size:18px;color:#333;font-weight:700;height:44px;line-height:43px;box-sizing:border-box;text-decoration:none;}
.section.other .news .list_news .txt_date {padding-right:25px;color:#ccc;font-size:18px;font-weight:700;}
.section.other .news .link_more {position:absolute;right:30px;top:8px;font-size:18px;font-weight:700;color:#333;text-decoration:none;}
.section.other .news .link_more:after {content:'';display:inline-block;width:18px;height:11px;margin:0 0 0 2px;background:url(../images/ico_arrow_down.png) no-repeat 0 0;}
.section.other .customer {overflow:hidden;float:left;width:233px;}
.section.other .customer .img_customer {margin-left:14px;overflow:hidden;}

/* sub 공통 */
#container.sub {width:1000px;}
#container.sub #contents {margin-top:50px;padding:30px 50px 80px 80px;border:1px solid #e0e0e0;}
#container.sub .desc_intro {font-size:20px;color:#e50065;line-height:35px;font-weight:500;}

.section.organization:after,
.section.eh:after,
.section.recruit:after {content:'';display:block;height:225px;background:url(../images/bg_takeone.png) no-repeat 50% 35px;}

/* sub 타이틀 */
.tit_sub {overflow:hidden;height:24px;background:url(../images/tit_sub.png) no-repeat 0 0;font-size:1px;line-height:0;color:transparent;text-indent:-9999px;}
.tit_organization {width:257px;}
.tit_eh {width:386px;background-position:0 -50px;}
.tit_recruit {width:143px;background-position:0 -100px;}
.tit_contact {width:209px;background-position:0 -150px;}
.tit_dkr {width:185px;height:14px;margin:42px 0 0 82px;background-position:0 -200px;}
.tit_s_production {width:356px;background-position:0 -250px;}
.tit_s_contents {width:316px;background-position:0 -300px;}
/* company */
#contents.company {}
#contents.company .section {padding-top:40px;}
.txt_company {margin-top:15px;font-size:13px;color:#666;line-height:30px;}

.section.organization {}
.organization_tree {position:relative;min-height:300px;background:url(../images/bg_company_tree.png) no-repeat 50% 0;}
.organization_tree .item {position:absolute;left:50%;}
.organization_tree .item1 {margin-left:-65px;}
.organization_tree .item2 {top:55px;margin-left:165px;}
.organization_tree .item3 {top:205px;margin-left:-316px;}
.organization_tree .item4 {top:205px;margin-left:-65px;}
.organization_tree .item5 {top:205px;margin-left:180px;}
.organization_tree .item .name {display:block;height:36px;width:131px;padding:0 10px;font-size:13px;color:#fff;font-weight:400;line-height:35px;background:#e50065;box-sizing:border-box;text-align:center;}
.organization_tree .item [class^='list'] {}
.organization_tree .item [class^='list'] li {position:relative;margin-top:6px;padding-left:8px;font-size:13px;color:#666;}
.organization_tree .item .list_dot li:before {content:'';position:absolute;left:0;top:10px;width:2px;height:2px;background:#8f8f8f;}
.organization_tree .item .list_dash li:before {content:'';position:absolute;left:0;top:11px;width:3px;height:1px;background:#666;}
.section.eh {}
.section.eh .img_company_eh {margin-top:20px;}
.section.recruit {}
.section.recruit .info_recruit {display:-webkit-flex;display:-ms-flex;display:flex;-webkit-align-items:center;-ms-align-items:center;align-items:center;margin-top:25px;}
.info_recruit dl {}
.info_recruit .benefit {-webkit-flex:3;-ms-flex:3;flex:3;}
.info_recruit .info {-webkit-flex:4;-ms-flex:4;flex:4;}
.info_recruit dl dt {float:left;width:152px;height:152px;margin-right:30px;border-radius:152px;font-size:20px;color:#fff;font-weight:400;line-height:151px;text-align:center;background:#e50065;}
.info_recruit dl dd {padding:5px 0;font-size:13px;color:#666;}
.info_recruit dl dd a {color:currentColor;}
.section.contact .img_map {margin-top:10px;}

/* business */
#contents.business {margin-top:37px;background:url(../images/bg_takeone.png) no-repeat 50% 180px;}
#contents.business .list_dot {margin-top:10px;}
#contents.business .list_dot li {position:relative;padding-left:7px;font-size:13px;line-height:30px;color:#666;}
#contents.business .list_dot li:before {content:'';position:absolute;left:0;top:14px;width:2px;height:2px;background:#858585;}
.section.smart_production {margin-top:50px;}
.section.smart_contents {margin:100px 0 0 470px;}

/* portfolio */
#container #contents.portfolio {margin-top:37px;border:0 ;padding:0;}
.tab_portfolio {margin:36px 0 0;font-size:0;text-align:center;}
.tab_portfolio li {display:inline-block;height:25px;padding:6px 20px 5px;box-sizing:border-box;}
.tab_portfolio li + li {border-left:1px solid #e0e0e0;}
.tab_portfolio li .link_tab {display:block;height:14px;background:url(../images/img_tab.png) no-repeat 0 0;}
.tab_portfolio li.tab1 .link_tab {width:116px;}
.tab_portfolio li.tab2 .link_tab {width:104px;background-position:-150px 0;}
.tab_portfolio li.tab1.active .link_tab {background-position:0 -50px;}
.tab_portfolio li.tab2.active .link_tab {background-position:-150px -50px;}
#contents.portfolio .tab_year {margin:0 0 10px;}
#contents.portfolio .tab_year:after {content:'';display:block;clear:both;}
#contents.portfolio .tab_year li {float:left;margin:0 20px 0 0;}
#contents.portfolio .tab_year li .link_tab {font-size:16px;font-weight:700;}
#contents.portfolio .list_pf {display:flex;align-items:stretch;flex-wrap:wrap;border-left:1px solid #e0e0e0;box-sizing:border-box;}
#contents.portfolio .list_pf li {width:333px;border:1px solid #e0e0e0;border-width:1px 1px 1px 0;margin-top:-1px;box-sizing:border-box;}
/* #contents.portfolio .list_pf li:nth-child(3n-1) {width:334px;} */
#contents.portfolio .list_pf .link_pf {display:block;padding:0 10px 20px;text-align:center;text-decoration:none;}
#contents.portfolio .list_pf .img_thumb {width:275px;height:275px;margin:0 auto;}
#contents.portfolio .list_pf .tit_pf {display:block;margin-bottom:5px;font-size:14px;color:#333;line-height:18px;font-weight:700;}
#contents.portfolio .list_pf .txt_pf {display:block;font-size:12px;color:#999;line-height:18px;}
#contents.portfolio .list_pf .info_pf {display:block;font-size:12px;color:#999;line-height:18px;}
.section.pf_broadcast {}
.section.pf_contents {}
 
/* news */
.tbl_news {}
.tbl_news thead tr {border:1px solid #e0e0e0;}
.tbl_news thead th {padding:8px 0 9px;font-size:13px;color:#666;font-weight:400;background:#f2f2f2;}
.tbl_news td {padding:13px 0 14px;font-size:12px;color:#666;font-weight:400;text-align:center;border-bottom:1px solid #e0e0e0;}
.tbl_news .row_view {display:none;}
.tbl_news .row_view.show {display:table-row;}
.tbl_news .row_view td {padding:20px 27px;font-size:13px;line-height:24px;text-align:left;}
.tbl_news td .link_view {display:block;padding-left:30px;text-align:left;font-size:15px;color:#333;font-weight:500;text-decoration:none;box-sizing:border-box;}

.wrap_paginate {margin:34px 0 0;text-align:center;}
.wrap_paginate [class*="btn"] {display:inline-block;overflow:hidden;width:24px;height:24px;font-size:1px;line-height:0;text-indent:-9999px;color:transparent;}
.wrap_paginate .btn_prev {}
.wrap_paginate .btn_next {}
.wrap_paginate .list_page {display:inline-block;font-size:0;text-align:center;vertical-align:top;}
.wrap_paginate .list_page li {display:inline-block;margin:0 4px;}
.wrap_paginate .list_page .link_page {color:#888;font-size:14px;line-height:23px;}
.wrap_paginate .list_page .current .link_page {color:#444;}



#footer { height:150px;padding:50px 0;background:#e0e0e0;box-sizing:border-box;}
#footer .inner {width:1000px;margin:0 auto;}
#footer .info_company {text-align:center;font-size:13px;color:#888;line-height:18px;}


/* 레이어 팝업 */
.layer_pf {position: fixed;left:0;top:0;width:100%;height:100%;background:rgba(255,255,255,.7);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
}

  .layer_pf .inner {
    position: fixed;
    left:50%;
    top:50%;
    width: 900px;
    height:600px;
    margin:-300px 0 0 -450px;
    background:#fff;
    box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
    
  }
  
  .layer_pf.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  .layer_pf .btn_close {
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 15px;
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease;
  }
  



/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}