/*
 * Noto Sans http://fonts.googleapis.com/earlyaccess/notosanskr.css
*/
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src:url(./NotoSansKR-Light.eot);
  src:url(./NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
      url(./NotoSansKR-Light.woff2) format('woff2'),
      url(./NotoSansKR-Light.woff) format('woff'),
      url(./NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:500;
  src:url(./NotoSansKR-Medium.eot);
  src:url(./NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
      url(./NotoSansKR-Medium.woff2) format('woff2'),
      url(./NotoSansKR-Medium.woff) format('woff'),
      url(./NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:700;
  src:url(./NotoSansKR-Bold.eot);
  src:url(./NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
  url(./NotoSansKR-Bold.woff2) format('woff2'),
  url(./NotoSansKR-Bold.woff) format('woff'),
  url(./NotoSansKR-Bold.otf) format('opentype');
}

