body,
#wrap { min-height:100%; height:100%; }
#container { display:flex; }
#wrap #container { height:calc(100% - 80px); }
#wrap.menu-open #container { height:calc(100% - 157px); }
#wrap #container #contents{ flex:1; }

#header { display:flex; flex-direction:column; background:#fff;}
#header .inner { display:flex; align-items:center; width:100%; padding:11px 18px 9px 0;box-sizing:border-box; }
#header .h1-logo { width:101px; height:30px; background:url('../images/h1_logo.png') no-repeat 0 0; background-size:100%;}
#header .search-area { display:flex; align-items:center; margin:0 10px; }
#header .search-area .inp-search { width:250px; font-size:14px; padding:6px 30px 6px 0; border:1px solid #ddd; border-width:0 0 1px; }
#header .search-area .btn-search { margin:5px 0 0 -24px; }
#header .control-area { display:flex; align-items:center; margin-left:auto; flex-shrink:0; }
#header .control-area [class^="btn-"] { margin-left:20px; }
#header .btn-setting { width:26px; height:26px; background:url('../images/btn_setting.png')no-repeat 50% 50%; background-size:22px;}
#header .btn-alarm { position: relative; width:26px; height:26px; background:url('../images/btn_alarm.png')no-repeat 50% 50%; background-size:22px; }
#header .btn-alarm .num { position: absolute; right:-2px; top:0; min-width:14px; padding:0 2px; color:#fff; font-size:10px; line-height:12px; background:#da2020; text-align:center; border-radius:14px;}
#header .btn-user { display:inline-flex; align-items:center; font-size:14px; color:#222; }
#header .btn-user:after { content:''; width:26px; height:26px; margin-left:5px; background:url('../images/btn_user.png')no-repeat 0 0; background-size:100%;  }

#header .gnb-area { position: relative;}
#header .gnb-area:after { content:''; position: absolute; left:6px; right:0; top:0; height:1px; background:#ccc;}
#header .gnb-area .list-gnb { display:flex; border-bottom:1px solid #ccc;}
#header .gnb-area .list-gnb li { min-width:75px; margin-left:6px; }
#header .gnb-area .list-gnb li > a { display:block; position:relative; font-size:14px; color:#333; padding:3px 11px; text-align:center;}
#header .gnb-area .list-gnb li:first-child { border-left:1px solid #ccc; }
#header .gnb-area .list-gnb li:first-child.selected {border-left:0;}
#header .gnb-area .list-gnb li.selected > a { position: relative; top:1px; font-weight:700; background:#ebebeb; border-left:1px solid #ccc; border-right:1px solid #ccc; }
/* #header .gnb-area .list-gnb li.selected > a:after { content:''; position:absolute; left:0; right:0; bottom:0; height:3px; background:#007bff;} */
#header .gnb-area .toggle-area { display:none; padding:8px 50px 10px 10px; height:77px; border:1px solid #ccc; border-top:0; box-sizing:border-box; background:#ebebeb; }
.menu-open #header .gnb-area .toggle-area { display:flex; }
#header .gnb-area .toggle-area .menu-depth2 { display:inline-flex; }
#header .gnb-area .toggle-area .menu-depth2 li { margin-right:6px; }
#header .gnb-area  a.btn-depth2 { display:inline-flex; flex-direction:column; justify-content:center; align-items:center; width:66px; height:70px; margin-top:-4px; font-size:13px; color:#333; }
#header .gnb-area .selected  a.btn-depth2 { background:#ccc; }
#header .gnb-area  a.btn-depth2 .icon { width:28px; height:28px; margin-bottom:2px; }
#header .gnb-area  a.btn-depth2 .icon > img { width:100%; }
#header .gnb-area .choice-menu .menu { position: relative; }
#header .gnb-area .choice-menu .menu.selected a.btn-depth2:after { content:''; position: absolute; left:50%; bottom:-8px; margin-left:-2px; width:0; height:0; border-style:solid; border-width:3px; border-color:#222 transparent transparent transparent; }
.drop-layer { position: absolute; left:0; top:100%; z-index:1; margin-top:7px; border:1px solid #ccc; background:#fff;}
.drop-layer .option  { display:flex; align-items:stretch; width:183px; font-size:13px; color:#333; cursor: pointer; }
.drop-layer .option .icon { display:flex; align-items:center; justify-content:center; flex-shrink:0; width:32px; text-align:center; border-right:1px solid #ccc; }
.drop-layer .option .icon > img { width:22px;  }
.drop-layer .option .text { flex:1; padding:4px 5px 4px 12px; }

#header .gnb-area .btn-menu-toggle { position:fixed; right:10px; top:95px; width:40px; height:40px; }
#header .gnb-area .btn-menu-toggle .material-icons:after { content:'expand_more'; font-size:30px; }
.menu-open #header .gnb-area .btn-menu-toggle { transform:rotate(-180deg);}
#header .gnb-area .toggle-area .choice-menu { display:inline-flex; padding-left:16px; margin-left:16px; border-left:1px solid #222;  }
a.btn-circle-b { display:inline-flex; justify-content:center; align-items:center; width:20px; height:20px; border-radius:100%; border:1px solid #007bff; color:#007bff; font-size:14px; background:#fff; }


.layer-tree { width:300px; padding-right:10px; background:#f2f2f2; border-right:1px solid #ddd; box-sizing:border-box;}   
.layer-tree .tree-head { position: relative; margin-right:-10px; padding:9px 2px 5px; background:#f2f2f2;}
.layer-tree .tree-head .tree-ctrl { display:flex; justify-content:space-between; }
.layer-tree .tree-head .tree-ctrl li + li { margin-left:4px; }
.layer-tree .tree-head .btn-close-layer { position: absolute; right:4px; top:4px; width:10px; height:10px; background:url('../images/btn_close_layer.png') no-repeat center center; background-size:100%;}
.btn-tree { position: relative; display:inline-flex; align-items:center; justify-content:center; width:27px; height:27px; box-sizing:border-box;}
.btn-tree:before { content:''; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); background-repeat:no-repeat; background-size:100%; }
.btn-tree.ctrl1:before { width:19px; height:19px; background-image:url('../images/ico_ctrl1.png'); }
.btn-tree.ctrl2:before { width:16px; height:14px; background-image:url('../images/ico_ctrl2.png'); }
.btn-tree.ctrl3:before { width:18px; height:17px; background-image:url('../images/ico_ctrl3.png'); }
.btn-tree.ctrl4:before { width:16px; height:16px; background-image:url('../images/ico_ctrl4.png'); }
.btn-tree.ctrl5:before { width:12px; height:10px; background-image:url('../images/ico_ctrl5.png'); }
.btn-tree.ctrl6:before { width:12px; height:10px; background-image:url('../images/ico_ctrl6.png'); }
.btn-tree.ctrl7:before { width:12px; height:10px; background-image:url('../images/ico_ctrl7.png'); }
.btn-tree.ctrl8:before { width:12px; height:10px; background-image:url('../images/ico_ctrl8.png'); }
.selected .btn-tree { background:#fff; border:1px solid #ccc; border-radius:2px;}

.layer-tree .tree-head .tree-ctrl .material-icons { font-size:18px; }
.layer-tree .tree-body { overflow-y:auto; height:calc(100% - 90px); padding:10px; border-bottom:1px solid #ddd; background:#fff; }
.tree_menu{}
.tree_menu li {position:relative;padding-left:20px;}
.tree_menu li + li { margin-top:6px; }
.tree_menu li.depth {}
.tree_menu li .layer-item { display:flex; align-items:flex-start; font-size:14px; margin-bottom:4px; }
.tree_menu li .layer-item .inp-checkbox { flex-shrink:0; }
.tree_menu li .layer-item .inp-checkbox .label:before { top:2px; }
.tree_menu li .layer-item .btn-layer { display:flex; margin-left:5px; text-align:left; word-break:break-all; }
.tree_menu li .icon { flex-shrink:0; display:inline-flex; align-items:center; justify-content:center; width:14px; height:14px; margin-top:4px; margin-right:5px;text-align:center; box-sizing:border-box;}
.tree_menu li .icon > .material-icons { font-size:14px; }
.tree_menu li .icon.colorchip { border:1px solid #ddd; }
.tree_menu li .icon.line { height:3px; margin-top:10px; }
.tree_menu li {font-size:14px;}
.tree_menu li .btn_fold { display:none; position:absolute;left:0;top:0;width:20px;height:20px; -webkit-transition:all .3s ease-out; transition:all .3s ease-out;}
.tree_menu li.depth .btn_fold {display:block;}
.tree_menu li .btn_fold > span { font-size:20px; }
.tree_menu li .btn_fold.open > span {-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.tree_menu .children { display:none; margin:5px 0 0 25px; }
.layer-tree .tree-tab { display:flex; height:25px; padding-left:6px; box-sizing:border-box; position: relative; top:-1px; }
.layer-tree .tree-tab .btn-tree-tab { display:flex; align-items:center; justify-content:center; width:98px; height:23px; border:1px solid #ccc; border-width:0 1px; background:#ccc; box-sizing:border-box; font-size:12px; }
.layer-tree .tree-tab .btn-tree-tab + .btn-tree-tab { }
.layer-tree .tree-tab .btn-tree-tab.selected { height:25px; background:#fff; font-weight:700; font-size:13px; }

.map-toolbox { position: fixed; right:10px; top:170px; }  
.map-toolbox input[type="checkbox"] { display:none; }
.map-toolbox .btn-tool-open { display:inline-flex; align-items:center; justify-content:center; position: absolute; right:0; width:40px; height:40px; color:#fff;  border-radius:100%; background:#edb832;
transition:transform .3s; }
.map-toolbox .btn-tool-open .material-icons-outlined:before { content:'apps'; }
.map-toolbox input:checked + .btn-tool-open { background:#555; transform:rotate(-90deg);}
.map-toolbox input:checked + .btn-tool-open .material-icons-outlined:before { content:'close';  }
.map-toolbox .toolbox { display:flex; flex-wrap:wrap; position: absolute; right:40px; top:-4px; width:255px; opacity:0; transition:opacity .3s; text-align:right;}
.map-toolbox .toolbox [class*="btn"] { width:50px; height:50px; border-radius:100%;}
.map-toolbox .toolbox [class*="btn"] > img { width:100%; }
.map-toolbox input:checked ~ .toolbox { opacity:1; }

.map-toolbox .sns-tool [class*="btn"] { width:42px; height:42px; margin:5px 0 0 5px; border:1px solid #ddd; box-sizing:border-box; }

.section + .section { margin-top:20px; }


/* form */
.inp-text { width:200px; height:32px; padding:5px; border-radius:5px; border:1px solid #ddd; box-sizing:border-box; }
.inp-text.opacity { width:80px; }
.inp-textarea { width:200px; min-height:100px; padding:5px; border-radius:5px; border:1px solid #ddd; resize:none; box-sizing:border-box; }
.inp-search { width:200px; height:32px; padding:5px; border:1px solid #ddd; box-sizing:border-box; }


.inp-radio { display:inline-block; position:relative; }
.inp-radio input { position:absolute; left:0; top:0; z-index:-1; opacity:0; width:100%; height:100%; }
.inp-radio .label { display:inline-flex; align-items:center; position:relative; cursor:pointer; vertical-align:top; padding-left:20px; }
.inp-radio .label:before { content:''; position:absolute; left:0;top:0; width:20px; height:20px; border-radius:100%; border:1px solid #ddd; box-sizing:border-box; background:#fff;}
.inp-radio .label .flabel { margin-left:5px; }
.inp-radio input:checked + .label:before { border:0; background:burlywood; }
.inp-radio input:checked + .label:after { content:''; position:absolute; left:5px; top:5px; width:10px; height:10px; border-radius:100%; background:#fff; }

.inp-checkbox { display:inline-block; position:relative; min-width:16px; min-height:16px; }
.inp-checkbox input[type="checkbox"] { position:absolute; left:0; top:0; z-index:1; opacity:0; width:100%; height:100%; cursor:pointer; }
.inp-checkbox .label { display:inline-flex; align-items:center; position:relative; cursor:pointer; vertical-align:top; padding-left:16px;  }
.inp-checkbox .label:before { content:''; position:absolute; left:0; top:2px; width:16px; height:16px; border:1px solid #ddd; box-sizing:border-box; background:#fff; }
.inp-checkbox .label .flabel { margin-left:5px; }
.inp-checkbox input:checked + .label:before { content:'\2713'; font-size:11px; font-weight:700; color:#fff; text-align:center; border:0; background:#007bff;}

.form-area:not([class*="grid"]) .inp-radio,
.form-area:not([class*="grid"]) .inp-checkbox { margin:5px 15px 5px 0; }

.form-area[class*="grid"] { display:flex; flex-wrap:wrap; margin-top:-5px; }
.form-area[class*="grid"] .inp-radio,
.form-area[class*="grid"] .inp-checkbox { margin-top:5px; padding-right:10px; box-sizing:border-box; }
.form-area.grid1 .inp-radio,
.form-area.grid1 .inp-checkbox { width:100%; }
.form-area.grid2 .inp-radio,
.form-area.grid2 .inp-checkbox { width:50%; }
.form-area.grid3 .inp-radio,
.form-area.grid3 .inp-checkbox { width:33.3%; }
.form-area.grid4 .inp-radio,
.form-area.grid4 .inp-checkbox { width:25%; }
.form-area.grid5 .inp-radio,
.form-area.grid5 .inp-checkbox { width:20%; }


/* button */
[class*="btn"].lg { min-height:42px; font-size:15px; }
.btn-strong { background:#337ab7; min-height:32px; min-width:80px; padding:0 5px; border-radius:3px; vertical-align:middle; box-sizing:border-box; color:#fff; }
.btn-normal { background:#fff; min-height:32px; min-width:80px; padding:0 5px; border-radius:3px; vertical-align:middle; box-sizing:border-box; border:1px solid #ddd; }
.btn-square { display:inline-flex; align-items:center; justify-content:center; width:40px; height:40px; border:1px solid #222; background:#fff;}
.btn-file { position:relative; display:inline-flex; }
.btn-file input[type="file"] { position: absolute;left:0;top:0;opacity:0; width:100%;height:100%;}

.btn-area{ display:flex; }
.btn-area.type-flex [class*="btn"] {flex:1;}
.btn-area [class*="btn"] + [class*="btn"] { margin-left:5px; }
.btn-area.right { justify-content:flex-end; }

/* layer */
.comp-layer { position:fixed; left:0; top:0; z-index:999; width:100%; height:100%; overflow-x:hidden; overflow-y:auto; background:rgba(0,0,0,.5); }
.comp-layer > .inner { width:500px; margin:100px auto; border-radius:5px; background:#fff; box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);}
.comp-layer.medium > .inner { width:800px; }
.comp-layer.large > .inner { width:1000px; }
.comp-layer .layer-head { display:flex; flex-wrap:wrap; min-height:48px; align-items:center; padding:0 10px 0 20px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);}
.comp-layer .layer-head .title { font-size:16px; }
.comp-layer .layer-head .btn-close { flex-shrink:0; width:24px; height:24px; margin-left:auto; }
.comp-layer .layer-body { padding:15px 20px; }
.comp-layer .layer-foot { display:flex; padding:15px 10px; justify-content:flex-end; box-shadow: 0 -1px 3px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.06); }
.comp-layer .layer-foot [class*="btn"] + [class*="btn"] { margin-left:8px; }
.comp-layer .title-line { font-weight:500; font-size:15px; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ddd; }


/* tab */
.comp-tab { }
.comp-tab .tab-nav { display:flex; background:#fff; border-bottom:1px solid #ddd; }
.comp-tab .tab-nav .btn-tab { display:inline-flex; align-items:center; justify-content:center; position:relative; min-width:100px; min-height:48px; margin-bottom:-1px; padding:5px 10px; margin-right:2px; font-size:15px; border:1px solid transparent; color:#555; }
.comp-tab .tab-nav .btn-tab.active { border:1px solid #ddd; border-width:0 1px; background:#fff; color:#222; font-weight:500; }
.comp-tab .tab-nav .btn-tab.active:before { content:''; position:absolute; left:-1px; top:0; right:-1px; height:3px; background:#337ab7; }
.comp-tab.type-flex .tab-nav { flex-wrap:wrap; }
.comp-tab.type-flex .tab-nav .btn-tab { flex:1; }
.comp-tab .tab-cont { padding:10px; }

.flex-list {  }
.flex-item { display:flex; align-items:center; padding:5px 0; }
.flex-item .title { width:110px; flex-shrink:0; box-sizing:border-box; padding-right:10px; }
.flex-item .title.start { align-self:flex-start; margin-top:5px; }
.flex-item .detail { flex:1; word-break:break-all; }
.flex-item .detail .row  + .row { margin-top:10px; }
.flex-item .detail + .title { padding-left:15px; }
.flex-item .f-col { display:flex; flex-direction:column; flex:1; }
.flex-item .f-col + .f-col { margin-left:10px; }
.flex-item .f-col .title { display:flex; width:100%; margin-bottom:5px; }


.btn-colorpicker { display:inline-flex; align-items:center; justify-content:center; background:#fff; width:32px; height:32px; border:1px solid #ddd; box-sizing:border-box; vertical-align:middle; }
.form-select { display:inline-flex; position:relative; min-width:200px; }
.form-select .material-icons { position: absolute; right:1px; top:4px; font-size:19px; }
.form-select .material-icons:after { content:'arrow_drop_down'; }
.form-select select { width:100%; height:32px; padding:5px 20px 5px 5px; border:1px solid #ddd; box-sizing:border-box;}
.form-select.unit select { min-width:80px; }

.inp-number { display:inline-flex; position:relative; min-width:200px; }
.inp-number input { border:0; width:100%; height:32px; padding:5px; border:1px solid #ddd; box-sizing:border-box; }
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */
.inp-number [class*="btn"] { display:inline-flex; align-items:center; position:absolute; right:0; width:20px; height:15px; text-align:center; }
.inp-number [class*="btn"] .material-icons { font-size:19px; line-height:15px; }
.inp-number .btn-up { top:1px;}
.inp-number .btn-up .material-icons:before { content:'arrow_drop_up'; }
.inp-number .btn-down { bottom:1px; }
.inp-number .btn-down .material-icons:before { content:'arrow_drop_down'; }

.inp-range { min-width:200px; }
.inp-range:focus { outline: none; }
/*webkit (Chrome)의 경우*/
.inp-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497E3;
}
.inp-range::-webkit-slider-thumb {
    border: 1px solid #2497E3;
    height: 15px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px; /*chrome의 경우 margin-top값을 부여해야합니다.*/
}
.inp-range:focus::-webkit-slider-runnable-track {
    background: #2497E3; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}
/*Firefox의 경우*/
.inp-range::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497E3;
}
.inp-range::-moz-range-thumb {
    border: 1px solid #2497E3;
    height: 15px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
}
/*IE의 경우*/
.inp-range::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.inp-range::-ms-fill-lower {
    background: #2497E3;
}
.inp-range::-ms-fill-upper {
    background: #2497E3;
}
.inp-range::-ms-thumb {
    margin-top: 1px;
    border: 1px solid #2497E3;
    height: 15px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
}
.inp-range:focus::-ms-fill-lower {
    background: #2497E3;/*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}
.inp-range:focus::-ms-fill-upper {
    background: #2497E3; /*네모버튼에 포커스를 줬을때 뒤에 라인(ㅡ)의 효과*/
}

.dropdown-select { display:inline-flex; position:relative; }
.dropdown-select .btn-dropdown { display:inline-flex; align-items:center; position:relative; min-width:200px; height:32px; padding:5px 20px 5px 5px; border:1px solid #ddd; box-sizing:border-box; text-align:left; }
.dropdown-select .btn-dropdown .material-icons { position:absolute; right:0; width:20px; font-size:19px; }
.dropdown-select .btn-dropdown .material-icons:after { content:'arrow_drop_down'; }
.dropdown-select.on .btn-dropdown .material-icons { transform:rotate(-180deg); }
.dropdown-select .option { position:absolute; left:0; top:100%; z-index:1; margin-top:-1px; display:none; }
.dropdown-select.on .option { display:block; background:#fff; border:1px solid #ddd; width:100%; box-sizing:border-box; }
.dropdown-select.on .option li { display:flex; align-items:center; height:25px; padding:0 5px; }
.dropdown-select .icon { display:inline-flex; align-items:center; width:16px; height:16px; margin-right:5px;  }
.dropdown-select .icon.stroke { width:40px; }
.dropdown-select .icon.style { width:40px; }

/* 차트 */
.diagram-set { position:relative; padding:20px 20px 20px 120px;; background:#f8f8f8; }
.diagram-set .tit-diagram { display:block; font-size:16px; }
.diagram-set .tab-diagram { position:absolute; left:10px; top:25px; width:80px; padding:10px; border:1px solid #222; background:#fff;}
.diagram-set .tab-diagram ul { }
.diagram-set .tab-diagram ul li { }
.diagram-set .tab-diagram ul li > a { display:flex; height:30px; width:100%; align-items:center; }
.ctrl-attr { display:flex; align-items:stretch; position:relative; }
.ctrl-attr .ctrl-btns { position:absolute; left:50%; top:50%; width:40px; transform:translate(-50%, -50%);}
.ctrl-attr .ctrl-btns [class*="btn"] + [class*="btn"] { margin-top:8px; }
.ctrl-attr .attr { display:block; margin-bottom:5px; }
.ctrl-attr .box { display:flex; align-items:stretch; min-height:500px; border:1px solid #222; background:#fff; }
.ctrl-attr .box .box-col { flex:1; }
.ctrl-attr .left { flex:1; padding-right:30px; }
.ctrl-attr .right { flex:1; padding-left:30px; }
.ctrl-attr .box .title { border-left:1px solid #f1f1f1; padding:2px 4px; height:26px; box-sizing:border-box;}
.ctrl-attr .box .box-col:nth-of-type(1) .title { border-left:0; }
.ctrl-attr .box .item { padding:2px 4px; height:26px; box-sizing:border-box; cursor:pointer;}
.ctrl-attr .box .item.color { padding:0; }

.line-box { position:relative; border:1px solid #222; margin-top:10px; }
.line-box .inner { padding:20px 10px 10px; }
.line-box.h80 .inner { overflow-y:auto; height:80px; }
.line-box .tit-line { position: absolute; left:0; top:-10px; padding:0 10px 0 0; background:#fff; }
.diagram-set .line-box .tit-line { background:#f8f8f8; }
.line-box .tit-line .material-icons { vertical-align:middle; }
.line-box .tit-line .material-icons:before { content:'arrow_drop_down'; display:inline-block; }
.line-box .tit-line .inp-checkbox .label:before { top:2px; }

.diagram-set .flex-item .detail { flex:1; }
.flex-form { display:flex; align-items:center; margin-left:-5px; }
.flex-form > * { margin-left:5px; }
.flex-form + .flex-form { margin-top:5px; }
.flex-form .flex1 { flex:1; }
.flex-form .form-title { font-weight: 400; width:100px; }

.comp-table .a-left { text-align:left; }
.comp-table .a-right { text-align:right; }
.comp-table .a-center { text-align:center; }
.comp-table thead th { border-bottom:2px solid #e3e6f0; font-size:14px; color:#858796; font-weight:500;}
.comp-table th, .comp-table td { border:1px solid #e3e6f0; padding:2px 5px;}
.comp-table td { font-size:14px; color:#858796;}
.comp-table.bg tbody tr:nth-child(even) td { background:#f1f1f1; }

.divide { display:flex; align-items:stretch; }
.divide .line-box { flex:1 }
.divide .line-box + .line-box  { margin-left:10px; }
.line-box .service-list { margin:0 -10px; background:#fff; }
.line-box .service-list li { padding:4px 10px; cursor: pointer; }
.line-box .service-list li:hover { background:#f1f1f1; }

.ctrl-filter { background:#f1f1f1; padding:20px; }
.ctrl-filter .divide ~ .line-box { margin-top:30px; }
.ctrl-filter .line-box .tit-line { background:#f1f1f1; }
.ctrl-filter .line-box .line-list { border:1px solid #111; background:#fff; }
.ctrl-filter .line-box .line-list li { cursor:pointer; }
.ctrl-filter .line-box.filter-field .inner { height:100%; box-sizing:border-box; }
.ctrl-filter .line-box.filter-field .line-list { height:100%; max-height:350px; overflow-y: auto; }
.ctrl-filter .line-box.filter-value .line-list { height:250px; overflow-y:auto; margin:5px 0; }
.ctrl-filter .line-list li { display:flex; align-items:center; height:25px; font-size:12px; padding:0 10px; } 
.ctrl-filter .line-list li:nth-child(even) { background:#f1f1f1; }

.ctrl-data { display:flex; justify-content:space-between; margin: 0 0 20px; } 
.ctrl-data .btn-square { width:32px; height:32px; }

.layer-body .tree-manage { display:flex; align-items:center; margin:-15px -20px 15px; padding:5px 20px; height:35px; background:#f1f1f1; }
.layer-body .tree-manage .btn-tree-manage { margin-right:5px; }